
.page-album #album_wrapper .photo {
	margin: 0 0 5px 10px;
}
.page-home .scanstart-type {
	padding-top: 0;
	padding-bottom: 0;
	height:155px;
}
.page-home .scanstart-id {
	padding-top:10px;
	padding-bottom: 40px;
}
.page-home #id-shipment-value {
	width: 60%;
	float: left;
}

.page-home .button {
	float:right;
} 
.complete-block {
	padding-top:25px;
}

.final-block {
	padding-top:25px;
}
.final-block p {
	margin: 0 auto 20px;
}

.page-damage-info .field textarea {
	height: 180px;
}

.cam-shots-second {
	left:55%;
}

.sig {
  float: left;
  margin-right:30px;
}
